extends ../layout

block content
  - var authorizedToEdit = session.user && ((session.user.role === 'supplier' && session.user.supplierId.toString() === supplier._id.toString()) || session.user.role === 'administrator')
  .container
    .row.justify-content-center
      .col-md-6
        .card.supplier-info.mb-3
          h2.card-header Supplier Details
          .supplierDetails.card-body
            h4.supplier-name.card-title.mb-4 #{supplier.name}
            h5.supplier-address.mb-0 Address:
            .address-line.d-block #{supplier.address.firstName} #{supplier.address.lastName}
            .address-line.d-block #{supplier.address.line1} #{supplier.address.line2}
            .address-line.d-block #{supplier.address.city}, #{supplier.address.province}, #{supplier.address.postalCode}
            .address-line.d-block #{supplier.address.country}
            h5.supplier-phone.mt-3.mb-3 Phone Number: #{supplier.phone}
            h5.supplier-website.mb-3 Website: #{supplier.website}
            if authorizedToEdit
              a.btn.btn-primary.btn-block(href=`/suppliers/edit/${supplier._id}`) Edit